---
import siteConfig from '../data/site-config';
import Button from './Button.astro';

const subscribe = siteConfig.subscribe;
const emailLink = siteConfig.socialLinks?.find(link => link.text === 'Email')?.href ?? 'mailto:joaomariastbotelho@gmail.com';

const { class: className } = Astro.props;
---

<section class:list={['px-8 py-12 flex flex-col items-center border border-dashed border-main text-center sm:px-12 sm:py-16', className]}>
    {
        subscribe?.title && (
            <h2 class:list={['w-full max-w-xl text-2xl leading-tight font-serif font-medium sm:text-4xl', subscribe.text ? 'mb-4' : 'mb-8']}>
                {subscribe.title}
            </h2>
        )
    }
    {subscribe?.text && <p class="w-full max-w-xl mb-8 text-sm leading-normal">{subscribe.text}</p>}
    <Button href={emailLink} class="h-9">
        Send an Email
    </Button>
</section>
